*{
    margin:0px;
    padding:0px;
    background-color:white;
    color:black
}
h1{
    text-align: center;
}
table {
      width: 80%;
      border-collapse: collapse;
      margin: 20px auto;
    }
    th, td {
      border: 1px solid black;
      padding: 10px;
      text-align: center;
      background-color: rgb(243, 197, 205);
    }
    th {
      background-color:rgb(230, 179, 230);
    }
    tfoot {

      font-weight: bold;
    }
    .week{
        background-color:rgb(177, 177, 226);
    }
    .foot{
        background-color:rgb(195, 218, 172);
    }